<%- include('partials/header', { title: "All Items", heading: "Inventory Items" }) %>

<body>
  <h1>Items</h1>
  <ul>
    <% items.forEach(item => { %>
      <li>
        <strong>Item ID: <%= item.id %> |</strong> <%= item.item %> | 
        <% if (item.category_id) { %>
          <span class="category">
            Category: 
            <% if (item.category_id === 1) { %>
              🗡️ Weapons
            <% } else if (item.category_id === 2) { %>
              🛡️ Armor
            <% } else if (item.category_id === 3) { %>
              🔥 Summons
            <% } else { %>
              <% const category = categories.find(category => category.id === item.category_id) %>
              ❓ <%= category.category %>
            <% } %>
          </span>
          <form action="/items/delete" method="POST">
            <input type="hidden" name="id" id="id" value="<%= item.id %>">

            <label for="password">Password</label>
            <input type="password" name="password" id="password">

            <button type="submit">Delete Item</button>
          </form>
        <% } %>
      </li>
    <% }) %>
  </ul>

  <form action="/items/update" method="POST">
    <p style="font-weight: bold;">Modify an item</p>
    <label for="id">ID of Item to Modify: </label>
    <input type="text" name="id" id="item" required>

    <label for="item">New Item Name: </label>
    <input type="text" name="item" id="item" required>

    <label for="category">Category ID: </label>
    <select name="category" required>
      <% categories.forEach(category => { %>
        <option value="<%= category.id %>">
          <%= category.id %> - <%= category.category %>
        </option>
      <% }) %>
    </select>
    <button type="submit">Add Item</button>
  </form>

  <form action="/items" method="POST">
    <p style="font-weight: bold;">Add an item</p>
    <label for="item">Item Name: </label>
    <input type="text" name="item" id="item" required>

    <label for="category">Category ID: </label>
    <select name="category" required>
      <% categories.forEach(category => { %>
        <option value="<%= category.id %>">
          <%= category.id %> - <%= category.category %>
        </option>
      <% }) %>
    </select>
    <button type="submit">Add Item</button>
  </form>
</body>
